
<h2>Tasks of Python</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Number task</th>
      <th scope="col">Task</th>
      <th scope="col">Conditions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Display "Hello World!"</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>You need to return a list that consists of the elements that are common to the two lists.</td>
      <td>a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

        <p>b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].</p></td>
    </tr>

  </tbody>
</table>
<button type="button" class="btn btn-outline-success" routerLink="/upload">Upload your answers</button>
<br>

  <h2>Tasks of HTML</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number task</th>
        <th scope="col">Task</th>
        <th scope="col">Conditions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          Make a border around the block. The frame should display correctly in all modern browsers.</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Make a block. The block contains fillets in the header and at the bottom of the block. <p>There is a dark green border and shadow around the block. The length of the header can change, respectively, the width of the block under it should also change, but at the same time not exceed 250px</p></td>
        <td>The validity of the CSS is not important.
          <p>The corners have a fixed size, the width and height of the corners are the same, set in pixels.</p>
        </td>
      </tr>
  
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-success" routerLink="/upload">Upload your answers</button>
